<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BattManage</title>
    <link rel="icon" type="image/png" sizes="50x50" href="assets/img/logo-batmanage.ico">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-car-battery"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>BattManage</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="/"><i class="fas fa-tachometer-alt"
                                style="width: 20px;"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/batteries"><i class="fas fa-battery-half"
                                style="width: 20px;"></i><span>Battery Informations<br></span></a>
                    <li class="nav-item"><a class="nav-link" href="/inventory"><i class="fas fa-clipboard-check"
                                style="width: 20px;margin-right: 0px;margin-left: 3px;"></i><span>Inventory<br></span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4" style="margin-top: 40px;">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                        <form method="GET" action="/etiquettes" enctype="application/x-www-form-urlencoded">
                            <button type="submit" class="btn btn-primary btn-sm d-none d-sm-inline-block"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Etiquettes</button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span
                                                    class="text-success"><strong>Charged</strong><br></span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>
                                                    <%= charged %>
                                                </span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-battery-full fa-2x text-success"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span
                                                    class="text-warning"><strong>Storage</strong><br></span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>
                                                    <%= storage %>
                                                </span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-battery-half fa-2x text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-info fw-bold text-xs mb-1"><span
                                                    style="color: var(--bs-orange);"><strong>Used</strong></span></div>
                                            <div class="row g-0 align-items-center">
                                                <div class="col-auto">
                                                    <div class="text-dark fw-bold h5 mb-0 me-3"><span>
                                                            <%= used %>
                                                        </span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-battery-quarter fa-2x"
                                                style="color: var(--bs-orange);"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-info fw-bold text-xs mb-1"><span
                                                    class="text-danger"><strong>out of service</strong></span></div>
                                            <div class="row g-0 align-items-center">
                                                <div class="col-auto">
                                                    <div class="text-dark fw-bold h5 mb-0 me-3"><span>
                                                            <%= hs %>
                                                        </span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-battery-empty fa-2x text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>Next battery to use :</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-bottom: 16px;">
                            <div class="card">
                                <div class="card-body">
                                    <% if(locals.b6S !="" ){ %>
                                        <h4 class="card-title" style="margin-bottom: 0px;">6S - <%= b6S[0].name %>
                                                <%= b6S[0].brand %>
                                                    <%= b6S[0].capacity %>mah (<%= b6S[0].efficiency %>C)<br></h4>
                                        <% } else{ %>
                                            <h4 class="card-title" style="margin-bottom: 0px;">6S - No battery available
                                                😭 <br></h4>
                                            <% } %>

                                </div>
                            </div>
                        </div>
                        <div class="col" style="margin-bottom: 16px;">
                            <div class="card">
                                <div class="card-body">
                                    <% if(locals.b4S !="" ){ %>
                                        <h4 class="card-title" style="margin-bottom: 0px;">4S - <%= b4S[0].name %>
                                                <%= b4S[0].brand %>
                                                    <%= b4S[0].capacity %>mah (<%= b4S[0].efficiency %>C)<br></h4>
                                        <% } else{ %>
                                            <h4 class="card-title" style="margin-bottom: 0px;">4S - No battery available
                                                😭 <br></h4>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 18px;">
                        <div class="col-lg-7 col-xl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Batteries Usage</h6>
                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
                                            aria-expanded="false" data-bs-toggle="dropdown" type="button"><i
                                                class="fas fa-ellipsis-v text-gray-400"></i></button>
                                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                            <p class="text-center dropdown-header">dropdown header:</p><a
                                                class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item"
                                                href="#">&nbsp;Another action</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item"
                                                href="#">&nbsp;Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="height: 400px;">
                                    <div class="chart-area" style="height: 370px;"><canvas
                                            data-bss-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Jan&quot;,&quot;Feb&quot;,&quot;Mar&quot;,&quot;Apr&quot;,&quot;May&quot;,&quot;Jun&quot;,&quot;Jul&quot;,&quot;Aug&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Earnings&quot;,&quot;backgroundColor&quot;:&quot;rgba(78,115,223,0.79)&quot;,&quot;borderColor&quot;:&quot;rgba(78, 115, 223, 1)&quot;,&quot;data&quot;:[&quot;0&quot;,&quot;30&quot;,&quot;50&quot;,&quot;80&quot;,&quot;10&quot;,&quot;54&quot;,&quot;15&quot;,&quot;25&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;],&quot;drawOnChartArea&quot;:false},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;padding&quot;:20}}],&quot;yAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;]},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;padding&quot;:20}}]}}}"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Batteries States</h6>
                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
                                            aria-expanded="false" data-bs-toggle="dropdown" type="button"><i
                                                class="fas fa-ellipsis-v text-gray-400"></i></button>
                                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                            <p class="text-center dropdown-header">dropdown header:</p><a
                                                class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item"
                                                href="#">&nbsp;Another action</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item"
                                                href="#">&nbsp;Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="height: 400px;">
                                    <div class="chart-area" style="height: 370px;"><canvas
                                            data-bss-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Charged&quot;,&quot;Storage&quot;,&quot;Used&quot;,&quot;Out of service&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;&quot;,&quot;backgroundColor&quot;:[&quot;#00b760&quot;,&quot;#ffcc1e&quot;,&quot;#fca311&quot;,&quot;#e8112d&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;,&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;<%= charged %>&quot;,&quot;<%= storage %>&quot;,&quot;<%= used %>&quot;,&quot;<%= hs %>&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 14px;">
                        <div class="col">
                            <div class="card shadow">
                                <h3 class="text-dark mb-4"
                                    style="margin-top: 24px;margin-right: 0px;margin-left: 11px;">Last events</h3>
                                <div class="card-body text-start">
                                    <div class="row">
                                        <div class="col-md-6 text-nowrap">
                                            <div id="dataTable_length" class="dataTables_length"
                                                aria-controls="dataTable"><label class="form-label">Show&nbsp;<select
                                                        class="d-inline-block form-select form-select-sm">
                                                        <option value="10" selected="">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>&nbsp;</label></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text-md-end dataTables_filter" id="dataTable_filter"><label
                                                    class="form-label"><input type="search"
                                                        class="form-control form-control-sm" aria-controls="dataTable"
                                                        placeholder="Search"></label></div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table mt-2" id="dataTable-1" role="grid"
                                        aria-describedby="dataTable_info">
                                        <table class="table my-0" id="dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Battery</th>
                                                    <th>Events</th>
                                                    <th>Message</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i < logs.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%= logs[i].date.toISOString().substring(0, 19).split('T').join(' ') %>
                                                        </td>
                                                        <td>
                                                            <%= logs[i].batteryName %>
                                                        </td>
                                                        <td>
                                                            <%= logs[i].action %>
                                                        </td>
                                                        <td>
                                                            <%= logs[i].message %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Battery</th>
                                                    <th>Events</th>
                                                    <th>Message</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 align-self-center">
                                            <p id="dataTable_info" class="dataTables_info" role="status"
                                                aria-live="polite">Showing 1 to 10 of 27</p>
                                        </div>
                                        <div class="col-md-6">
                                            <nav
                                                class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                                <ul class="pagination">
                                                    <li class="page-item disabled"><a class="page-link" href="#"
                                                            aria-label="Previous"><span aria-hidden="true">«</span></a>
                                                    </li>
                                                    <li class="page-item active"><a class="page-link" href="#">1</a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#"
                                                            aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="bg-white sticky-footer" style="height: 25px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Made by Mickael "PAPAMICA" Asseline</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
    <!-- CREATION SOCKET -->
    <!-- <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var list = document.getElementById("messagesList");
        socket.on('messageFromServer', function (data) {
            var item = document.createElement('li');
            item.innerHTML = data.time;
            list.appendChild(item);
        });
    </script> -->

    <!-- FIN CODE SOCKET -->

</body>

</html>
