<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BattManage | Etiquettes</title>
    <link rel="icon" type="image/png" sizes="50x50" href="../../assets/img/logo-batmanage.png">
    <link rel="icon" type="image/png" sizes="50x50" href="../../assets/img/logo-batmanage.png">
    <link rel="icon" type="image/png" sizes="50x50" href="../../assets/img/logo-batmanage.png">
    <link rel="icon" type="image/png" sizes="50x50" href="../../assets/img/logo-batmanage.png">
    <link rel="icon" type="image/png" sizes="50x50" href="../../assets/img/logo-batmanage.png">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/untitled.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-car-battery"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>BatTManage</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-tachometer-alt" style="width: 20px;"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/batt-informations"><i class="fas fa-battery-half" style="width: 20px;"></i><span>Battery Informations<br></span></a><a class="nav-link" href="inventory"><i class="fas fa-clipboard-check" style="width: 20px;margin-right: 0px;margin-left: 3px;"></i><span>Inventory<br></span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background-color: #ffffff">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4" style="margin-top: 40px;">
                        <h3 class="text-dark mb-0">Etiquettes</h3>
                    </div>
                    <div class="row">
                        <% for(var i = 0; i < batteries.length; i++) { %>
                        <div class="col" style="max-width: 250px;">
                            <div class="row" style="border-style: solid; width: 250px; height: 100px">
                                <div class="col-auto" style="width: 75px;">
                                    <img class="shadow" src="../assets/qrcode/<%= batteries[i].bID %>.png" style="width: 70px; margin-top: 15px; margin-left: -5px">
                                </div>
                                <div class="col" style="margin-top: 10px; width: 170px">
                                    <h6 style="font-size: 15px"><%= batteries[i].Name %></h6>
                                    <div class="row">
                                        <div class="col-auto">
                                            <h6 style="font-size: 11px;"><strong>Brand :</strong> <%= batteries[i].Brand %><br><strong>Cells :</strong> <%= batteries[i].Cells %><br><strong>Capacity :</strong> <%= batteries[i].Capacity %> mah (<%= batteries[i].Efficiency %> C)<br><strong>Buy date :</strong> <%= batteries[i].Buy_date %><br></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>  
                    </div>
            </div>
            <footer class="bg-white sticky-footer" style="height: 25px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Made by Mickael "PAPAMICA" Asseline</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/chart.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="../../assets/js/theme.js"></script>

 
</body>

</html>