<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="icon" type="image/png" sizes="50x50" href="assets/img/logo-batmanage.png">
    <link rel="icon" type="image/png" sizes="50x50" href="assets/img/logo-batmanage.png">
    <link rel="icon" type="image/png" sizes="50x50" href="assets/img/logo-batmanage.png">
    <link rel="icon" type="image/png" sizes="50x50" href="assets/img/logo-batmanage.png">
    <link rel="icon" type="image/png" sizes="50x50" href="assets/img/logo-batmanage.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-car-battery"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>BatTManage</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-tachometer-alt" style="width: 20px;"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/batt-informations"><i class="fas fa-battery-half" style="width: 20px;"></i><span>Battery Informations<br></span></a><a class="nav-link active" href="inventory"><i class="fas fa-clipboard-check" style="width: 20px;margin-right: 0px;margin-left: 3px;"></i><span>Inventory<br></span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid" style="margin-top: 29px;">
                    <div class="row">
                        <div class="col" style="padding: 27px;padding-bottom: 27px;">
                            <h3 class="text-dark mb-4" style="margin-bottom: 0px;">Batteries</h3>
                        </div>
                        <div class="col" style="padding: 27px;"><a class="btn btn-primary text-center d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" role="button" style="font-size: 20px;" href="add-battery"><i class="fa fa-plus" style="margin: 10px;"></i><strong>Add Battery</strong></a></div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">List of all batteries</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                                <option value="10" selected="">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;</label></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th style="height: 31px;width: 21px;">N°</th>
                                            <th>Name</th>
                                            <th>Brand</th>
                                            <th>Technology</th>
                                            <th>Cells</th>
                                            <th>Capacity</th>
                                            <th>Efficiency</th>
                                            <th>Status</th>
                                            <th>Cycles</th>
                                            <th>Resistance</th>
                                            <th>Buy date</th>
                                            <th>Last usage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < batteries.length; i++) { %>
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td><%= batteries[i].Name %></td>
                                            <td><%= batteries[i].Brand %></td>
                                            <td><%= batteries[i].Technology %></td>
                                            <td><%= batteries[i].Cells %></td>
                                            <td><%= batteries[i].Capacity %> mah</td>
                                            <td><%= batteries[i].Efficiency %>C</td>
                                            <td><%= batteries[i].Status %></td>
                                            <td><%= batteries[i].Cycles %></td>
                                            <td><%= batteries[i].Resistance %></td>
                                            <td><%= batteries[i].Buy_date %></td>
                                            <td><%= batteries[i].LastUsage_date %></td>
                                            <td><form method="GET" action="/batteries/<%= batteries[i]._id %>" enctype="application/x-www-form-urlencoded">
                                                <button type="submit" class="btn btn-primary" type="button"><i class="fa fa-link"></i></button>
                                                </form></td>
                                            <td><form method="GET" action="/batteries/<%= batteries[i]._id %>/edit" enctype="application/x-www-form-urlencoded">
                                                <button type="submit" class="btn btn-primary" type="button"><i class="fa fa-edit"></i></button>
                                                </form></td>
                                            <td><form method="POST" action="/batteries/<%= batteries[i]._id %>/charged" enctype="application/x-www-form-urlencoded">
                                                <button type="submit" class="btn btn-primary" type="button" style="background: var(--bs-green);border-color: var(--bs-green);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-battery-charging">
                                                            <path d="M14.5 9.5a1.5 1.5 0 0 0 0-3v3z"></path>
                                                            <path fill-rule="evenodd" d="M9.585 2.568a.5.5 0 0 1 .226.58L8.677 6.832h1.99a.5.5 0 0 1 .364.843l-5.334 5.667a.5.5 0 0 1-.842-.49L5.99 9.167H4a.5.5 0 0 1-.364-.843l5.333-5.667a.5.5 0 0 1 .616-.09z"></path>
                                                            <path fill-rule="evenodd" d="M6.332 4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h2.072l.307-1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h3.391l.941-1zM4.45 6H2v4h1.313a1.5 1.5 0 0 1-.405-2.361L4.45 6zm.976 5l-.308 1H6.96l.21-.224h.001l.73-.776H6.53l-.085.09.028-.09H5.426zm1.354-1H5.733l.257-.833H4a.5.5 0 0 1-.364-.843l.793-.843L5.823 6h1.373L5.157 8.167h1.51a.5.5 0 0 1 .478.647L6.78 10zm.69 0h1.374l1.394-1.482.793-.842a.5.5 0 0 0-.364-.843h-1.99L8.933 6H7.887l-.166.54-.199.646A.5.5 0 0 0 8 7.833h1.51L7.47 10zm.725-5H9.24l.308-1H7.706l-.942 1h1.374l.085-.09-.028.09zm2.4-1l-.308 1H12a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9.276l-.942 1H12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.405zm-.378 6H12V8.02a1.499 1.499 0 0 1-.241.341L10.217 10zM12 6.646V6h-.646a1.5 1.5 0 0 1 .646.646z"></path>
                                                        </svg></button>
                                                        </form></td>
                                            <td><form method="POST" action="/batteries/<%= batteries[i]._id %>/used" enctype="application/x-www-form-urlencoded">
                                                <button type="submit" class="btn btn-primary" type="button" style="background: var(--bs-orange);border-color: var(--bs-orange);"><i class="fas fa-rocket"></i></button></form></td>
                                            <td><form method="POST" action="/batteries/<%= batteries[i]._id %>/storage" enctype="application/x-www-form-urlencoded">
                                                <button type="submit" class="btn btn-primary" type="button" style="background: var(--bs-yellow);border-color: var(--bs-yellow);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-package">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"></polyline>
                                                            <line x1="12" y1="12" x2="20" y2="7.5"></line>
                                                            <line x1="12" y1="12" x2="12" y2="21"></line>
                                                            <line x1="12" y1="12" x2="4" y2="7.5"></line>
                                                            <line x1="16" y1="5.25" x2="8" y2="9.75"></line>
                                                        </svg></button>
                                                        </form></td>
                                            <td><form method="POST" action="/batteries/<%= batteries[i]._id %>/hs" enctype="application/x-www-form-urlencoded">
                                                <button type="submit" class="btn btn-primary" type="button" style="background: var(--bs-red);border-color: var(--bs-red);"><i class="fas fa-dumpster-fire"></i></button>
                                                </form></td>
                                            <td><form method="POST" action="/batteries/<%= batteries[i]._id %>/delete" enctype="application/x-www-form-urlencoded">
                                                <button type="submit" class="btn btn-primary" type="button" style="background: var(--bs-red);border-color: var(--bs-red);"><i class="fas fa-trash"></i></button>
                                                </form></td>
                                            </tr>
                                        <% } %>     
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>N°<br></strong></td>
                                            <td><strong>Name</strong></td>
                                            <td><strong>Brand<br></strong></td>
                                            <th><strong>Technology</strong></th>
                                            <th><strong>Cells</strong></th>
                                            <td><strong>Capacity</strong></td>
                                            <td><strong>Efficiency</strong></td>
                                            <td><strong>Status</strong></td>
                                            <td><strong>Cycles</strong></td>
                                            <td><strong>Resistance</strong></td>
                                            <td><strong>Buy date</strong></td>
                                            <td><strong>Last usage</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="height: 25px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Made by Mickael "PAPAMICA" Asseline</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>